build/
.idea/
site/
cmake-build-*/
data/
venv/
_skbuild/
*.egg-info/
__pycache__/
.cache/
CMakeFiles/
CTestTestfile.cmake
Makefile
cmake_install.cmake
CMakeCache.txt
*.so
*.a
bin/
lib/
misc/
./Testing/
install_manifest.txt
.cmake/
*.log
/src/arv/version/version.c
*.cbp
/MANIFEST.in
/dist/
/Testing/
